/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
	text-align: center;
}

.p1 {
	border: 1px solid black;
  width: 500px;
  height: 200px;
}
.div {
	float: left;
}
.div2 {
	float: right;
}
.div3 {
	float: right;
}
section {
	padding: 12px;
	position: relative;
}

@media only screen (min-width: 992px){
	.p1 {
		width: 33.33%;
		display: inline-block;
	}
}